/*===============================================
=================================================

                      viewer

==================================================
=================================================/*


/* ========================================
           viewer header
==============================================*/
.practice_contents{
    position:static;
  }
  
  .viewer_header{
    display: flex;
    column-gap: 80px;
    grid-column: 1/5;
    background-color: green;
    height: 45px;
    margin: 0%;
    padding: 0%;
    padding-left: 20px;
  }
  
  .label_menu{
    display: flex;
    align-items: center;
    height: 100%;
    column-gap:10px;
  }
  
  .label{
    color: antiquewhite;
  }
  
  .label_box h3{
    text-align: center;
    background-color: white;
    height: 75%;
    width: 150%;
  }
  
  
  .id_num h3{
    width: 150px;
  }
  
  /* ================================================
                viewer propaty
  ===================================================*/
  .viewer_propaties {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 20% 52%;
    grid-row: inherit;
    height: 280px;
    column-gap: 10px;
    background:rgb(255, 197, 131);
  }
  
  .tool_contents{
    display: grid;
    text-align: center;
    gap: 5px;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    grid-row: inherit;
    padding: 5px;
    margin: 5px;
    border: solid 3px;
    border-radius: 10px;
    background-color: ghostwhite;
    cursor: pointer;
  }
  
  .tool_box{
    text-align: center;
    background-color: rgb(240, 236, 236);
  }
  
  .tool_box_click{
    text-align: center;
    background-color: orange;
  }
  
  .tool_icon{
    width: 100%;
    height: 90%;
  }
  
  .propaty{
    text-align: center;
    background-color:rgb(254, 255, 199);
    color: black;
    padding: 5px;
    padding-bottom: 0%;
    margin-top: 0%;
    margin: 5px;
    border: solid 3px;
    border-radius: 10px;
  }
  
  .tool_info{
    display: flex;
  }
  
  .window{
    padding: 5px;
    margin: 5px;
    border: solid 3px;
    border-radius: 10px;
    background-color: ghostwhite;
    cursor: pointer;
  }
  
  .tool_status{
    padding:auto;
    margin: auto;
  }
  
  .window:hover{
    background-color: rgb(193, 255, 94);
  }
  
  .tool_img{
    width: 40px;
    height: 40px;
  }
  
  .form_tool{
    width: 60px;
  }
  
  .complain{
    display: grid;
    grid-template-rows: 50px 80px;
    text-align: left;
    padding: 5px;
    margin: 5px;
    border: solid 3px;
    border-radius: 0px;
    background-color: ghostwhite;
    overflow-y: scroll;
  }
  
  
  .Numbers{
    display: flex;
    flex-direction: row;
    gap:10px;
  }
  
  .question_nums{
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  
  .question_num{
    width: 25px;
    height: 25px;
    background-color: rgb(236, 228, 228);
    cursor: pointer;
  }
  
  .question_num_click{
    width: 25px;
    height: 25px;
    background-color: rgb(160, 252, 255);
    cursor: default;
  }
  
  /*=============================================
                   viewer
  ==============================================*/
  .viewsize{
    width: 100%;
    height: 520px;
    overflow: hidden;
  }
  
  .viewers {
    display: grid;
    background-color: black;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 256px 256px;
    margin-bottom: 10px;
  }
  
  .viewers_click {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 256px 256px;
    margin-bottom: 10px;
  }
  
  .viewer_big_box{
    grid-column: 1/2;
    grid-row: 1/3;
    background: black;
    color: aliceblue;
    border: solid 3px;
    border-color: gray;
    padding: 10px;
  }
  
  .viewer {
    background: black;
    color: aliceblue;
    border: solid 3px;
    border-color: gray;
    padding: 10px;
  }
  
  .viewer:hover{
    border-color: blue;
  }