
header {
      background: #0c4da2;
      height: 100px;
      color: White;
      text-align: center;
    }
.img_mnist{
    position: relative;
    top: 10px;
    right: 580px;
}

.img_github{
    position: relative;
    top: 10px;
    left: 580px;
}
.contents {
    display: flex;
}

.content {
    margin: auto;
    height: 30px;
    width: 120px;
    margin-top: 16px;
    padding-bottom: auto;
    z-index: 10;
}

.content:hover {
    background-color: #799ecf;
}

a {
    color:white;
    text-decoration: none;
}

.sub-menu > ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

.sub-menu > ul > li > a {
    text-decoration: none;
    color: #ffffff;
}

.sub-menu {
    background-color: #799ecf;
    width: 200px;
    display: none;
}

.content:hover .sub-menu {
    display: block;
  }


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }