.viewer_header{
    display: flex;
    column-gap: 80px;
    grid-column: 1/5;
    background-color: #46BBFF;
    height: 45px;
    margin: 0%;
    padding: 0%;
    padding-left: 20px;
}
  
.label_menu{
    display: flex;
    align-items: center;
    height: 100%;
    column-gap:10px;
}
  
.label{
    color: antiquewhite;
}
  
.label_box h3{
    text-align: center;
    background-color: white;
    height: 75%;
    width: 150%;
}
  
  
.id_num h3{
    width: 150px;
}

  .viewer_header{
    display: flex;
    column-gap: 80px;
    grid-column: 1/5;
    background-color: #46BBFF;
    height: 45px;
    margin: 0%;
    padding: 0%;
    padding-left: 20px;
  }
  
  .label_menu{
    display: flex;
    align-items: center;
    height: 100%;
    column-gap:10px;
  }
  
  .label{
    color: antiquewhite;
  }
  
  .label_box h3{
    text-align: center;
    background-color: white;
    height: 75%;
    width: 150%;
  }
  
  
  .id_num h3{
    width: 150px;
  }
  
