.image_btn {
    padding: 10px 30px;
    background-color: #bb8ece;
    font-size: large;
    color: white;
}

.selection{
    width: 50%;
    height: 40vh;
    background-color: white;
}

.selectionhead{
    text-align: left;
}
.sentense{
    padding-left: 5%;
}

.protocol{
    float: right;
    text-align: left;
    width: 80%;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium';
}