/** index **/

.row {
  text-align: center;
  flex-direction: column;
}

.row_head {
  font-family: "Franklin Gothic Medium";
}

.row_head_img {
  height: 400px;
  width: 100%;
}

.under {
  background: linear-gradient(transparent 75%, #62e293 50%);
}

.row_body{
  margin-top: 80px;
  margin-bottom: 100px;
}

.thema{
  margin-bottom: 30px;
}

.row_body_sentense {
  text-align: left;
  width: 47%;
  height: auto;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: auto;
}

.btn_txt {
  font-family: 'Gill Sans';
  font-weight: bold;
}

.body_btn {
  padding: 10px 30px;
  background-color: greenyellow;
  font-size: large;
  color: white;
}

.body_btn:hover {
  opacity: 0.8;
}

/**
   Basic
**/

.row_basic {
  text-align: center;
  width:100%;
  padding:10px;
}

.basic_contents {
  display: flex;
  width: 100%;
  background-color: rgb(239, 253, 249);
}

.basic_content {
  position: sticky; /* ←必要なもの */
  top: 0px;
  bottom: 0px;
  width: 47%;
  height: 780px;
  padding: 5px;
  text-align: center;
  /**background-color: blueviolet;**/
}

.basic_sentenses{
  text-align: center;
  overflow: auto;
  width: 47%;
  padding: 5px;
  padding-left: 5%;
}

.basic_sentense{
  text-align: left;
}